extends index.pug

block action
    +action Select Book

block breadcrumbs
    -
        var crumbs = [
            {name: "HOME", href: "/"},
            {name: params.lang.toUpperCase(), href: `/${params.lang}`}
        ]
    +breadcrumbs(crumbs, params.res.toUpperCase())
block content
    ul(class='menu')
        each book in books
            li
                a(href=`/${params.lang}/${params.res}/${book}`)= book
        else
            li(class='not_found') There are no books
