extends index.pug

block action
    +action Select Book

block breadcrumbs
    +breadcrumbs([{name: "HOME", href: "/"}], params.lang.toUpperCase())
block content
    ul(class='menu')
        each book in books
            li
                a(href=`/${params.lang}/${book.slug}`)
                    span= book.name
                    span= book.slug
        else
            li(class='not_found') There are no books
