extends index.pug

block action
    +action Select Chapter

block breadcrumbs
    -
        var crumbs = [
            {name: "HOME", href: "/"},
            {name: params.lang.toUpperCase(), href: `/${params.lang}`},
            {name: params.res.toUpperCase(), href: `/${params.lang}/${params.res}`}
        ]
    +breadcrumbs(crumbs, params.book.toUpperCase())
block content
    ul(class='menu')
        each chapter in chapters
            li
                a(href=`/${params.lang}/${params.res}/${params.book}/${chapter.slug}`)= chapter.slug
        else
            li There no chapters
