include mixins.pug

doctype html
html
    head
        title Chunk Creator
        style
            include ../css/main.css
        script
            include ../js/main.js
    body
        block action
        block breadcrumbs
        block content