include mixins.pug

doctype html
html
    head
        title Chunk Creator
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/chunking_component.css')
        block scripts
            script(src='/js/main.js')
    body
        block action
        block breadcrumbs
        block content