extends index.pug

block action
    +action Select Language
    
block breadcrumbs
    +breadcrumbs([], "HOME")

block content
    ul(class='menu')
        each lang in languages
            li
                a(href=`/${lang}`)= lang
        else
            li There no languages