extends index.pug

block action
    +action Select Language
    
block breadcrumbs
    +breadcrumbs([], "HOME")

block content
    ul(class='menu')
        each lang in languages
            li
                a(href=`/${lang.slug}`)
                    span= lang.name
                    span= lang.slug
        else
            li(class='not_found') There are no languages