extends index.pug

block action
    +action Select Resource

block breadcrumbs
    +breadcrumbs([{name: "HOME", href: "/"}], params.lang.toUpperCase())
block content
    ul(class='menu')
        each res in resources
            li
                a(href=`/${params.lang}/${res}`)= res
        else
            li(class='not_found') There no resources